@import 'tailwindcss';
@import 'tw-animate-css';

html,
body {
    /* Global Fonts */
    font-family: 'JetBrains Mono', monospace;

    /* Global Colors */
    background-color: #111;
    color: #fff;
}
